body {
    background-color: #ffffff; /* Color de fondo más oscuro */
    background-image: url("../img/colores.jpg");
    color: #640D5F; /* Texto en blanco */
    font-family: 'Arial', sans-serif; /* Tipografía */
}

.container {
    background-color: #ffffff; /* Fondo más claro que el fondo de la página */
    padding: 40px; /* Mayor padding para más espacio */
    border-radius: 10px; /* Bordes más redondeados */
    max-width: 400px;
    margin: auto;
    margin-top: 100px; /* Espacio en la parte superior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

h1 {
    text-align: center; /* Alineación centrada de los títulos */
}

input {
    background-color: #FFB200; /* Fondo de los campos de entrada más oscuro */
    color: #000000; /* Texto en blanco */
    display: block;
    width: 100%;
    padding: 12px; /* Mayor espacio de padding */
    margin: 10px 0; /* Espacio entre campos */
    border-radius: 5px; /* Bordes redondeados */
}

button {
    background-color: #640D5F; /* Nuevo color de fondo para el botón */
    color: #FFFFFF; /* Texto en blanco */
    padding: 12px; /* Más padding */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Indica que se puede hacer clic */
    width: 100%; /* Botón ocupa todo el ancho */
}

.remember-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

button:hover {
    background-color: #640D5F; /* Color de fondo al pasar el mouse */
}

a {
    color: #640D5F;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}
